@model ProjetPokemon.Data.Models.Pokemon
@{ ViewBag.Title = "Delete";
    ViewBag.SousTitre = "Confirmer la suppression de " + Model.Name; }

<div>
    <table>
        <thead>
            <tr>
                <th>Trainer ID</th>
                <th>Nom du pokemon</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> @Model.TrainerId</td>
                <td> @Model.Name</td>
            </tr>
        </tbody>
    </table>

    <form action="/Pokemon/Delete" method="post">
        <input name="Id" type="hidden" value=@Model.Id>
        <input type="submit" value="Confirmer">
    </form>
</div>
@section footerdeLaPage
{
    <div><a href="/Pokemon/Index">Annuler</a></div>

}
