@model ProjetPokemon.Web.Models.PokemonViewModel
@{ ViewBag.Title = "Details";
    ViewBag.SousTitre = "Détails du pokemon " + Model.UnPokemon.Name; }

<div>
    <table>
        <tr>
            <th>Trainer:</th>
            <th>Espèce</th>
            <th>Nom</th>
            <th>Type</th>
        </tr>

        <tr>
            <td>@Model.UnTrainer.Nom</td>
            <td>@Model.UnPokemon.Species</td>
            <td>@Model.UnPokemon.Name</td>
            <td>@Model.UnPokemon.ElementType</td>

        </tr>

    </table>

    <div style="margin-top:20px">
        <a href="/Pokemon/Edit/@Model.UnPokemon.Id">Modifier</a>
    </div>
</div>
