@model int

@{ ViewData["Title"] = "Pas trouve";
    ViewBag.SousTitre = $"Pas trouve"; }

@section menuPage
{
    <a href="/Trainer/Index">Liste des trainers</a>
    <a href="/Pokemon/Index">Liste des Pokemon</a>

}
<div style="color:red">
    <p>L'identifiant @Model ne correspond à aucun Pokémon dans la liste!</p>
</div>

@section footerdeLaPage
{
    <div><a href="/Pokemon/Index">Annuler</a></div>
    
}

