@model ProjetPokemon.Web.Models.TrainerViewModel
@{
    ViewBag.Title = "Index";
    ViewBag.SousTitre = "Creation d'un Pokemon Trainer";
}

<div>
    <form action="/Trainer/Create" method="post">
        <table>
            <tr>
                <td>Nom:</td>
                <td><input name="Nom" type="text" value=@Model.Trainer.Nom></td>
            </tr>
            <tr>
                <td>
                    <label>Regions:</label>
                </td>
                <td>
                    <select name="Region">
                        @{ foreach (var element in Model.Regions)
                            {
                                <option>@element</option>
                            } 
                        }
                    </select>
                    
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center">
                    <input type="submit" value="Ajouter">
                </td>
            </tr>
        </table>
    </form>
    <div style="color:red">
        @ViewBag.MessageErreurs
    </div>
</div>
@section footerdeLaPage
{
    <a href="/Trainer/Index">Annuler</a>
}
