@model ProjetPokemon.Web.Models.TrainerViewModel
@{
    ViewBag.Title = "Index";
    ViewBag.SousTitre = $"Modification du Pokemon Trainer {Model.Trainer.Nom}";
}

<div>
    <form action="/Trainer/Edit" method="post">
        <input name="Id" type="hidden" value=@Model.Trainer.Id>
        <table>
            <tr>
                <td>Titre:</td>
                <td><input name="Nom" type="text" value=@Model.Trainer.Nom></td>
            </tr>
            <tr>
                <td>
                    <label>Regions:</label>
                </td>
                <td>
                    <select name="Region">

                        @{ foreach (var element in Model.Regions)
                            {

                                <option 
                                        @if (@Model.Trainer.Region.ToString().Equals(element)) 
                                        { 
                                            @: selected="selected"
                                        }
                                >
                                    @element
                                </option>
                            } 
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center">
                    <input type="submit" value="Modifier">
                </td>
            </tr>
        </table>
    </form>
    <div style="color:red">
        @ViewBag.MessageErreurs
    </div>
</div>
@section footerdeLaPage
{
    <a href="/Trainer/Index">Annuler</a>
}
