@model int

@{
    ViewData["Title"] = "Pas trouve";
    ViewBag.SousTitre = $"Pas trouve";
}
@section menuPage
{
    <a href="/Trainer/Index">Liste des trainers</a>
    <a href="/Pokemon/Index">Liste des Pokemon</a>

}

<div style="color:red">
    <p>Ce @Model n'existe pas</p>
</div>

@section footerdeLaPage
{
    <a href="/Trainer/Index">Annuler</a>
}

